---
- hosts: localhost

  vars:
    IGC_VERSION: v2.5.6
    COMPUTE_RUNTIME_VERSION: 24.52.32224.5
    COMPUTE_RUNTIME_DEBUG_PACKAGES: false

  tasks:
    # TODO: check the operating system is supported

    - name: get package facts about apt
      package_facts:
        manager: apt

    - name: 'igc: get list of releases from github'
      uri:
        url: https://api.github.com/repos/intel/intel-graphics-compiler/releases
      register: igc_releases
    - name: 'igc: construct query to extract desired release'
      set_fact:
        igc_release_query:
          '[?contains(tag_name, `{{IGC_VERSION}}`)] | [0]'
    - name: 'igc: extract desired release'
      set_fact:
        igc_release: >
          {{igc_releases.json | json_query(igc_release_query)}}
    - name: 'igc: ensure we found the desired release'
      assert:
        that: "'name' in igc_release"
        fail_msg: 'Could not find IGC_VERSION: {{IGC_VERSION}}'
    - name: 'igc: install/upgrade packages'
      include_tasks: tasks/intel-igc-package.yaml
      with_items:
        - intel-igc-core
        - intel-igc-opencl
      loop_control:
        loop_var: package_name

    - name: 'compute-runtime: get list of compute runtime releases from github'
      uri:
        url: https://api.github.com/repos/intel/compute-runtime/releases
      register: compute_runtime_releases
    - name: 'compute-runtime: construct query to extract desired compute runtime release'
      set_fact:
        compute_runtime_release_query:
          '[?contains(name, `{{COMPUTE_RUNTIME_VERSION}}`)] | [0]'
    - name: 'compute-runtime: extract desired compute runtime release'
      set_fact:
        compute_runtime_release: >
          {{compute_runtime_releases.json |
            json_query(compute_runtime_release_query)}}
    - name: 'compute-runtime: ensure we found the desired compute runtime release'
      assert:
        that: "'name' in compute_runtime_release"
        fail_msg:
          'Could not find COMPUTE_RUNTIME_VERSION: {{COMPUTE_RUNTIME_VERSION}}'
    - name: 'compute-runtime: install/upgrade packages'
      include_tasks: tasks/intel-compute-runtime-package.yaml
      with_items:
        - libigdgmm12
        - intel-level-zero-gpu
        - intel-opencl-icd
      loop_control:
        loop_var: package_name
    - name: 'compute-runtime: install/upgrade debug symbol packages'
      when: COMPUTE_RUNTIME_DEBUG_PACKAGES
      include_tasks: tasks/intel-compute-runtime-package.yaml
      with_items:
        - intel-level-zero-gpu-dbgsym
        - intel-opencl-icd-dbgsym
      loop_control:
        loop_var: package_name
